Repository TimHermens/mfe-workshop: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

chore: test
  libs/home/pages/page-home/_index/home.page.component.ts
Due: eslint, prettier --write

chore: commented out affected testing in pre push hook
  .husky/pre-push
Due: none

chore: deleted unused shared module
  apps/flight-app/src/app/shared/ui/breadcrumb/breadcrumb.component.css
  apps/flight-app/src/app/shared/ui/breadcrumb/breadcrumb.component.html
  apps/flight-app/src/app/shared/ui/breadcrumb/breadcrumb.component.ts
  apps/flight-app/src/app/shared/ui/breadcrumb/breadcrumb.module.ts
  apps/flight-app/src/app/shared/ui/shared-ui.module.ts
  apps/flight-app/src/app/shared/util/logger/logger.service.ts
Due: eslint, prettier --write

chore: added remote schematic
  package.json
  tools/schematics/src/collection.json
  tools/schematics/src/feature/index.js.map
  tools/schematics/src/remote/index.d.ts
  tools/schematics/src/remote/index.js
  tools/schematics/src/remote/index.js.map
  tools/schematics/src/remote/index.ts
  tools/schematics/src/remote/schema.d.ts
  tools/schematics/src/remote/schema.js
  tools/schematics/src/remote/schema.js.map
  tools/schematics/src/remote/schema.json
  tools/schematics/src/remote/schema.ts
Due: eslint, prettier --write

chore: added static module federation
  apps/flight-app/module-federation.config.js
  apps/flight-app/project.json
  apps/flight-app/src/app/app-routing.module.ts
  apps/flight-app/src/remotes.d.ts
  apps/flight-app/webpack.config.js
  apps/flight-app/webpack.prod.config.js
  apps/flight-app/webpack/module-federation.config.js
Due: eslint, prettier --write

chore: added missing exports
  libs/flight/api/src/index.ts
  libs/passenger/api/src/index.ts
Due: eslint, prettier --write

chore: added dynamic module federation support
  apps/flight-app/module-federation.config.js
  apps/flight-app/src/app/app-routing.module.ts
  apps/flight-app/src/assets/module-federation.manifest.json
  apps/flight-app/src/main.ts
Due: eslint, prettier --write

chore: clean up useless boundary domain rules
  .eslintrc.json
  libs/flight/pages/page-flight-home/_index/project.json
  libs/home/pages/page-home/_index/project.json
  libs/passenger/pages/page-passenger-home/_index/project.json
Due: prettier --write

chore: added index html
  .lintstagedrc.json
  apps/airport/src/index.html
Due: eslint, prettier --write

chore: removed html and css husky linting and added tsx and jsx
  .lintstagedrc.json
Due: prettier --write

chore: added docs updated schematics added missing type tag
  .eslintrc.json
  _docs/assignment1_ddd.md
  _docs/assignment2_module-federation.md
  _docs/assignment2_step1.md
  _docs/assignment2_step2.md
  _docs/assignment2_step3.md
  _docs/assignment3_multi-framework-mf.md
  _docs/assignment4_multi-framework-side-effects.md
  _docs/husky-setup.md
  _docs/zadditional_stuff.md
  tools/schematics/src/page/schema.d.ts
  tools/schematics/src/page/schema.json
  tools/schematics/src/page/schema.ts
  tools/schematics/src/remote/index.js.map
Due: eslint, prettier --write

chore: updated docs
  _docs/assignment1_ddd.md
  _docs/assignment2_module-federation.md
  _docs/assignment2_step1.md
  _docs/assignment2_step2.md
  _docs/assignment2_step3.md
  _docs/assignment3_multi-framework-mf.md
  _docs/assignment4_multi-framework-side-effects.md
  _docs/zadditional_stuff.md
Due: none

chore: updated docs
  _docs/assignment3_multi-framework-mf.md
Due: none

chore: updated readme
  README.md
Due: none

Add files via upload
  _docs/2022-11-12-Mfe-workshop.pptx
Due: none

Path conditions:
  eslint: (any of: *.ts) or (any of: *.html)
  prettier --write: any of: *.{js,ts,scss,css,json,html}
