Repository TimHermens/mfe-workshop: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.ts": [
    "eslint"
  ],
  "*.html": [
    "eslint"
  ],
  "*.{js,ts,scss,css,json,html}": "prettier --write"
}

chore: test
  .husky/pre-push
  apps/flight-app/src/app/app.component.ts
Due: eslint, prettier --write

chore: test
  apps/flight-app/src/app/app.component.html
Due: eslint, prettier --write

chore: revert luggage util project and added husky config docs
  _docs/husky-setup.md
  apps/flight-app/src/app/app.component.ts
  libs/luggage/util/.eslintrc.json
  libs/luggage/util/README.md
  libs/luggage/util/jest.config.ts
  libs/luggage/util/ng-package.json
  libs/luggage/util/package.json
  libs/luggage/util/project.json
  libs/luggage/util/src/index.ts
  libs/luggage/util/src/lib/luggage-util.module.ts
  libs/luggage/util/src/test-setup.ts
  libs/luggage/util/tsconfig.json
  libs/luggage/util/tsconfig.lib.json
  libs/luggage/util/tsconfig.lib.prod.json
  libs/luggage/util/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
  zzz.md
Due: eslint, prettier --write

chore: updated husky readme
  _docs/husky-setup.md
Due: none

chore: fixed issues
  apps/flight-app/src/app/app.component.html
  apps/flight-app/src/app/passengers/services/passenger.data.service.ts
  apps/flight-app/src/index.html
Due: eslint, prettier --write

chore: fixed shared domain issue
  tools/schematics/src/domain/index.js
  tools/schematics/src/domain/index.js.map
  tools/schematics/src/domain/index.ts
Due: eslint, prettier --write

chore: wip
  .eslintrc.json
  apps/flight-app/src/app/app-routing.module.ts
  libs/flight/domain/.eslintrc.json
  libs/flight/domain/README.md
  libs/flight/domain/jest.config.ts
  libs/flight/domain/ng-package.json
  libs/flight/domain/package.json
  libs/flight/domain/project.json
  libs/flight/domain/src/index.ts
  libs/flight/domain/src/lib/application/edit-flight.facade.ts
  libs/flight/domain/src/lib/application/search-flights.facade.ts
  libs/flight/domain/src/lib/application/top5-flights.facade.ts
  libs/flight/domain/src/lib/entities/flight.ts
  libs/flight/domain/src/lib/infrastructure/flight.data.service.ts
  libs/flight/domain/src/test-setup.ts
  libs/flight/domain/tsconfig.json
  libs/flight/domain/tsconfig.lib.json
  libs/flight/domain/tsconfig.lib.prod.json
  libs/flight/domain/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint, prettier --write

chore: wip
  libs/shared/util/.eslintrc.json
  libs/shared/util/README.md
  libs/shared/util/jest.config.ts
  libs/shared/util/ng-package.json
  libs/shared/util/package.json
  libs/shared/util/project.json
  libs/shared/util/src/index.ts
  libs/shared/util/src/lib/logger/logger.service.ts
  libs/shared/util/src/test-setup.ts
  libs/shared/util/tsconfig.json
  libs/shared/util/tsconfig.lib.json
  libs/shared/util/tsconfig.lib.prod.json
  libs/shared/util/tsconfig.spec.json
Due: eslint, prettier --write

chore: prettier js
  decorate-angular-cli.js
  tools/schematics/scripts/build-schematics.js
  tools/schematics/src/api/index.js
  tools/schematics/src/api/schema.js
  tools/schematics/src/domain/schema.js
  tools/schematics/src/feature/index.js
  tools/schematics/src/feature/schema.js
  tools/schematics/src/page/index.js
  tools/schematics/src/page/schema.js
  tools/schematics/src/ui/index.js
  tools/schematics/src/ui/schema.js
  tools/schematics/src/util/index.js
  tools/schematics/src/util/schema.js
  tools/schematics/src/utils/angular-ast-utils.js
  tools/schematics/src/utils/angular.js
  tools/schematics/src/utils/changes.js
  tools/schematics/src/utils/const.js
  tools/schematics/src/utils/formatters.js
  tools/schematics/src/utils/global-sites.js
  tools/schematics/src/utils/page-utils.js
  tools/schematics/src/utils/tsconfig-base.js
  tools/schematics/src/utils/typescript-ast.js
  tools/schematics/src/utils/update-dep-const.js
  tools/schematics/src/utils/workspace.js
Due: prettier --write

chore: prettier html
  apps/flight-app/src/app/flights/features/flight-edit/flight-edit.component.html
  apps/flight-app/src/app/flights/features/flight-search/flight-search.component.html
  apps/flight-app/src/app/flights/pages/flight-home/flight-home-page.component.html
  apps/flight-app/src/app/flights/ui/flight-card-list/flight-card-list.component.html
  apps/flight-app/src/app/flights/ui/flight-card/flight-card.component.html
  apps/flight-app/src/app/home/features/top-5-flights/top5-flights.component.html
  apps/flight-app/src/app/home/features/top-5-passengers/top5-passengers.component.html
  apps/flight-app/src/app/navbar/navbar.component.html
  apps/flight-app/src/app/passengers/features/passenger-edit/passenger-edit.component.html
  apps/flight-app/src/app/passengers/features/passenger-search/passenger-search.component.html
  apps/flight-app/src/app/passengers/pages/passenger-home/passenger-home-page.component.html
  apps/flight-app/src/app/passengers/ui/passenger-table/passenger-table.component.html
  apps/flight-app/src/app/shared/ui/breadcrumb/breadcrumb.component.html
  apps/flight-app/src/app/sidebar/sidebar.component.html
Due: eslint, prettier --write

chore: prettier css
  apps/flight-app/src/app/app.component.css
Due: prettier --write

Revert "chore: prettier js"
  decorate-angular-cli.js
  tools/schematics/scripts/build-schematics.js
  tools/schematics/src/api/index.js
  tools/schematics/src/api/schema.js
  tools/schematics/src/domain/schema.js
  tools/schematics/src/feature/index.js
  tools/schematics/src/feature/schema.js
  tools/schematics/src/page/index.js
  tools/schematics/src/page/schema.js
  tools/schematics/src/ui/index.js
  tools/schematics/src/ui/schema.js
  tools/schematics/src/util/index.js
  tools/schematics/src/util/schema.js
  tools/schematics/src/utils/angular-ast-utils.js
  tools/schematics/src/utils/angular.js
  tools/schematics/src/utils/changes.js
  tools/schematics/src/utils/const.js
  tools/schematics/src/utils/formatters.js
  tools/schematics/src/utils/global-sites.js
  tools/schematics/src/utils/page-utils.js
  tools/schematics/src/utils/tsconfig-base.js
  tools/schematics/src/utils/typescript-ast.js
  tools/schematics/src/utils/update-dep-const.js
  tools/schematics/src/utils/workspace.js
Due: prettier --write

chore: added flight pages
  .eslintrc.json
  apps/flight-app/src/app/app-routing.module.ts
  libs/flight/pages/page-flight-home/_index/.eslintrc.json
  libs/flight/pages/page-flight-home/_index/flight-home-routing.module.ts
  libs/flight/pages/page-flight-home/_index/flight-home.module.ts
  libs/flight/pages/page-flight-home/_index/flight-home.page.component.css
  libs/flight/pages/page-flight-home/_index/flight-home.page.component.html
  libs/flight/pages/page-flight-home/_index/flight-home.page.component.spec.ts
  libs/flight/pages/page-flight-home/_index/flight-home.page.component.ts
  libs/flight/pages/page-flight-home/_index/index.ts
  libs/flight/pages/page-flight-home/_index/jest.config.ts
  libs/flight/pages/page-flight-home/_index/ng-package.json
  libs/flight/pages/page-flight-home/_index/package.json
  libs/flight/pages/page-flight-home/_index/project.json
  libs/flight/pages/page-flight-home/_index/test-setup.ts
  libs/flight/pages/page-flight-home/_index/tsconfig.json
  libs/flight/pages/page-flight-home/_index/tsconfig.lib.json
  libs/flight/pages/page-flight-home/_index/tsconfig.lib.prod.json
  libs/flight/pages/page-flight-home/_index/tsconfig.spec.json
  libs/flight/pages/page-flight-home/page-flight-edit/_index/.eslintrc.json
  libs/flight/pages/page-flight-home/page-flight-edit/_index/flight-edit-routing.module.ts
  libs/flight/pages/page-flight-home/page-flight-edit/_index/flight-edit.module.ts
  libs/flight/pages/page-flight-home/page-flight-edit/_index/flight-edit.page.component.css
  libs/flight/pages/page-flight-home/page-flight-edit/_index/flight-edit.page.component.html
  libs/flight/pages/page-flight-home/page-flight-edit/_index/flight-edit.page.component.spec.ts
  libs/flight/pages/page-flight-home/page-flight-edit/_index/flight-edit.page.component.ts
  libs/flight/pages/page-flight-home/page-flight-edit/_index/index.ts
  libs/flight/pages/page-flight-home/page-flight-edit/_index/jest.config.ts
  libs/flight/pages/page-flight-home/page-flight-edit/_index/ng-package.json
  libs/flight/pages/page-flight-home/page-flight-edit/_index/package.json
  libs/flight/pages/page-flight-home/page-flight-edit/_index/project.json
  libs/flight/pages/page-flight-home/page-flight-edit/_index/test-setup.ts
  libs/flight/pages/page-flight-home/page-flight-edit/_index/tsconfig.json
  libs/flight/pages/page-flight-home/page-flight-edit/_index/tsconfig.lib.json
  libs/flight/pages/page-flight-home/page-flight-edit/_index/tsconfig.lib.prod.json
  libs/flight/pages/page-flight-home/page-flight-edit/_index/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint, prettier --write

chore: improved special domain tag name
  .eslintrc.json
  libs/flight/pages/page-flight-home/_index/project.json
Due: prettier --write

chore: added flight edit feature
  libs/flight/features/flight-edit/.eslintrc.json
  libs/flight/features/flight-edit/README.md
  libs/flight/features/flight-edit/jest.config.ts
  libs/flight/features/flight-edit/ng-package.json
  libs/flight/features/flight-edit/package.json
  libs/flight/features/flight-edit/project.json
  libs/flight/features/flight-edit/src/index.ts
  libs/flight/features/flight-edit/src/lib/flight-edit/flight-edit.component.css
  libs/flight/features/flight-edit/src/lib/flight-edit/flight-edit.component.html
  libs/flight/features/flight-edit/src/lib/flight-edit/flight-edit.component.ts
  libs/flight/features/flight-edit/src/lib/flight-features-flight-edit.module.ts
  libs/flight/features/flight-edit/src/test-setup.ts
  libs/flight/features/flight-edit/tsconfig.json
  libs/flight/features/flight-edit/tsconfig.lib.json
  libs/flight/features/flight-edit/tsconfig.lib.prod.json
  libs/flight/features/flight-edit/tsconfig.spec.json
  libs/flight/pages/page-flight-home/_index/project.json
  libs/flight/pages/page-flight-home/page-flight-edit/_index/project.json
  tsconfig.base.json
  workspace.json
Due: eslint, prettier --write

chore: added flight search feature
  tsconfig.base.json
  workspace.json
Due: prettier --write

chore: added flight search feature
  libs/flight/features/flight-search/.eslintrc.json
  libs/flight/features/flight-search/README.md
  libs/flight/features/flight-search/jest.config.ts
  libs/flight/features/flight-search/ng-package.json
  libs/flight/features/flight-search/package.json
  libs/flight/features/flight-search/project.json
  libs/flight/features/flight-search/src/index.ts
  libs/flight/features/flight-search/src/lib/flight-features-flight-search.module.ts
  libs/flight/features/flight-search/src/lib/flight-search/flight-search.component.css
  libs/flight/features/flight-search/src/lib/flight-search/flight-search.component.html
  libs/flight/features/flight-search/src/lib/flight-search/flight-search.component.ts
  libs/flight/features/flight-search/src/test-setup.ts
  libs/flight/features/flight-search/tsconfig.json
  libs/flight/features/flight-search/tsconfig.lib.json
  libs/flight/features/flight-search/tsconfig.lib.prod.json
  libs/flight/features/flight-search/tsconfig.spec.json
Due: eslint, prettier --write

chore: added flight ui and fixed some settings
  libs/flight/domain/src/lib/application/edit-flight.facade.ts
  libs/flight/ui/.eslintrc.json
  libs/flight/ui/README.md
  libs/flight/ui/jest.config.ts
  libs/flight/ui/ng-package.json
  libs/flight/ui/package.json
  libs/flight/ui/project.json
  libs/flight/ui/src/index.ts
  libs/flight/ui/src/lib/flight-card-list/flight-card-list.component.css
  libs/flight/ui/src/lib/flight-card-list/flight-card-list.component.html
  libs/flight/ui/src/lib/flight-card-list/flight-card-list.component.ts
  libs/flight/ui/src/lib/flight-card-list/flight-card-list.module.ts
  libs/flight/ui/src/lib/flight-card/flight-card.component.css
  libs/flight/ui/src/lib/flight-card/flight-card.component.html
  libs/flight/ui/src/lib/flight-card/flight-card.component.ts
  libs/flight/ui/src/lib/flight-card/flight-card.module.ts
  libs/flight/ui/src/lib/flights-ui.module.ts
  libs/flight/ui/src/test-setup.ts
  libs/flight/ui/tsconfig.json
  libs/flight/ui/tsconfig.lib.json
  libs/flight/ui/tsconfig.lib.prod.json
  libs/flight/ui/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint, prettier --write

chore: fixed prefixes and added build target defaults
  apps/flight-app/src/app/flights/features/flight-search/flight-search.component.html
  apps/flight-app/src/app/flights/pages/flight-edit/flight-edit-page.component.html
  apps/flight-app/src/app/flights/pages/flight-home/flight-home-page.component.html
  apps/flight-app/src/app/flights/ui/flight-card-list/flight-card-list.component.html
  apps/flight-app/src/app/flights/ui/flight-card-list/flight-card-list.component.ts
  apps/flight-app/src/app/flights/ui/flight-card/flight-card.component.ts
  apps/flight-app/src/app/home/features/top-5-flights/top5-flights.component.html
  apps/flight-app/src/app/home/features/top-5-flights/top5-flights.component.ts
  apps/flight-app/src/app/home/features/top-5-passengers/top5-passengers.component.html
  apps/flight-app/src/app/home/features/top-5-passengers/top5-passengers.component.ts
  apps/flight-app/src/app/home/pages/home/home-page.component.html
  apps/flight-app/src/app/passengers/features/passenger-search/passenger-search.component.html
  apps/flight-app/src/app/passengers/pages/passenger-edit/passenger-edit-page.component.html
  apps/flight-app/src/app/passengers/pages/passenger-home/passenger-home-page.component.html
  apps/flight-app/src/app/passengers/ui/passenger-table/passenger-table.component.ts
  apps/flight-app/src/app/shared/ui/breadcrumb/breadcrumb.component.ts
  nx.json
  tools/schematics/src/domain/index.js.map
  tools/schematics/src/ui/index.js
  tools/schematics/src/ui/index.js.map
  tools/schematics/src/ui/index.ts
  tools/schematics/src/util/index.js
  tools/schematics/src/util/index.js.map
  tools/schematics/src/util/index.ts
Due: eslint, prettier --write

chore: added features
  libs/flight/features/flight-edit/src/index.ts
  libs/flight/features/flight-edit/src/lib/flight-edit/flight-edit-feature.module.ts
  libs/flight/features/flight-edit/src/lib/flight-edit/flight-edit.component.html
  libs/flight/features/flight-edit/src/lib/flight-edit/flight-edit.component.ts
  libs/flight/features/flight-edit/src/lib/flight-features-flight-edit.module.ts
  libs/flight/features/flight-search/src/index.ts
  libs/flight/features/flight-search/src/lib/flight-features-flight-search.module.ts
  libs/flight/features/flight-search/src/lib/flight-search/flight-search-feature.module.ts
  libs/flight/features/flight-search/src/lib/flight-search/flight-search.component.html
  libs/flight/features/flight-search/src/lib/flight-search/flight-search.component.ts
Due: eslint, prettier --write

chore: added breadcrumb as shared ui and refactored exports
  libs/flight/domain/src/index.ts
  libs/flight/features/flight-edit/src/index.ts
  libs/flight/features/flight-search/src/index.ts
  libs/flight/pages/page-flight-home/_index/index.ts
  libs/flight/pages/page-flight-home/page-flight-edit/_index/index.ts
  libs/flight/ui/src/index.ts
  libs/shared/ui/.eslintrc.json
  libs/shared/ui/README.md
  libs/shared/ui/jest.config.ts
  libs/shared/ui/ng-package.json
  libs/shared/ui/package.json
  libs/shared/ui/project.json
  libs/shared/ui/src/index.ts
  libs/shared/ui/src/lib/breadcrumb/breadcrumb.component.css
  libs/shared/ui/src/lib/breadcrumb/breadcrumb.component.html
  libs/shared/ui/src/lib/breadcrumb/breadcrumb.component.ts
  libs/shared/ui/src/lib/breadcrumb/breadcrumb.module.ts
  libs/shared/ui/src/lib/shared-ui.module.ts
  libs/shared/ui/src/test-setup.ts
  libs/shared/ui/tsconfig.json
  libs/shared/ui/tsconfig.lib.json
  libs/shared/ui/tsconfig.lib.prod.json
  libs/shared/ui/tsconfig.spec.json
  libs/shared/util/src/index.ts
  tsconfig.base.json
  workspace.json
Due: eslint, prettier --write

chore: flight domain fully implemented
  libs/flight/pages/page-flight-home/_index/flight-home-routing.module.ts
  libs/flight/pages/page-flight-home/_index/flight-home.module.ts
  libs/flight/pages/page-flight-home/_index/flight-home.page.component.html
  libs/flight/pages/page-flight-home/_index/flight-home.page.component.ts
  libs/flight/pages/page-flight-home/page-flight-edit/_index/flight-edit.module.ts
  libs/flight/pages/page-flight-home/page-flight-edit/_index/flight-edit.page.component.html
Due: eslint, prettier --write

chore: added home domain
  .eslintrc.json
Due: prettier --write

chore: renamed top5 to top five
  apps/flight-app/src/app/flights/services/top-five-flights-facade.service.ts
  apps/flight-app/src/app/home/features/top-5-flights/top5-flights.component.ts
  apps/flight-app/src/app/home/features/top-5-passengers/top5-passengers.component.ts
  apps/flight-app/src/app/home/features/top-five-flights/top-five-flights.component.css
  apps/flight-app/src/app/home/features/top-five-flights/top-five-flights.component.html
  apps/flight-app/src/app/home/features/top-five-flights/top-five-flights.component.ts
  apps/flight-app/src/app/home/features/top-five-flights/top-five-flights.module.ts
  apps/flight-app/src/app/home/features/top-five-passengers/top-five-passengers.component.css
  apps/flight-app/src/app/home/features/top-five-passengers/top-five-passengers.component.html
  apps/flight-app/src/app/home/features/top-five-passengers/top-five-passengers.component.ts
  apps/flight-app/src/app/home/features/top-five-passengers/top-five-passengers.module.ts
  apps/flight-app/src/app/home/pages/home/home-page.component.html
  apps/flight-app/src/app/home/pages/home/home-page.module.ts
  apps/flight-app/src/app/passengers/services/top-five-passengers-facade.service.ts
Due: eslint, prettier --write

chore: renamed top5 to top five
  libs/flight/domain/src/index.ts
  libs/flight/domain/src/lib/application/top-five-flights-facade.service.ts
Due: eslint, prettier --write

chore: added home page impl for top 5 flights
  apps/flight-app/src/app/app-routing.module.ts
  libs/home/pages/page-home/_index/home.module.ts
  libs/home/pages/page-home/_index/home.page.component.html
  libs/home/pages/page-home/_index/project.json
Due: eslint, prettier --write

chore: added passenger domain
  .eslintrc.json
  libs/home/pages/page-home/_index/project.json
  libs/passenger/domain/.eslintrc.json
  libs/passenger/domain/README.md
  libs/passenger/domain/jest.config.ts
  libs/passenger/domain/ng-package.json
  libs/passenger/domain/package.json
  libs/passenger/domain/project.json
  libs/passenger/domain/src/index.ts
  libs/passenger/domain/src/lib/application/edit-passenger.facade.ts
  libs/passenger/domain/src/lib/application/search-passengers.facade.ts
  libs/passenger/domain/src/lib/application/top-five-passengers-facade.service.ts
  libs/passenger/domain/src/lib/entities/passenger.ts
  libs/passenger/domain/src/lib/infrastructure/passenger.data.service.ts
  libs/passenger/domain/src/test-setup.ts
  libs/passenger/domain/tsconfig.json
  libs/passenger/domain/tsconfig.lib.json
  libs/passenger/domain/tsconfig.lib.prod.json
  libs/passenger/domain/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint, prettier --write

chore: added passenger ui
  tsconfig.base.json
  workspace.json
Due: prettier --write

chore: added passenger ui
  libs/passenger/ui/.eslintrc.json
  libs/passenger/ui/README.md
  libs/passenger/ui/jest.config.ts
  libs/passenger/ui/ng-package.json
  libs/passenger/ui/package.json
  libs/passenger/ui/project.json
  libs/passenger/ui/src/index.ts
  libs/passenger/ui/src/lib/passenger-table/passenger-table.component.css
  libs/passenger/ui/src/lib/passenger-table/passenger-table.component.html
  libs/passenger/ui/src/lib/passenger-table/passenger-table.component.ts
  libs/passenger/ui/src/lib/passenger-table/passenger-table.module.ts
  libs/passenger/ui/src/test-setup.ts
  libs/passenger/ui/tsconfig.json
  libs/passenger/ui/tsconfig.lib.json
  libs/passenger/ui/tsconfig.lib.prod.json
  libs/passenger/ui/tsconfig.spec.json
Due: eslint, prettier --write

chore: added passenger edit feature
  libs/passenger/features/passenger-edit/.eslintrc.json
  libs/passenger/features/passenger-edit/README.md
  libs/passenger/features/passenger-edit/jest.config.ts
  libs/passenger/features/passenger-edit/ng-package.json
  libs/passenger/features/passenger-edit/package.json
  libs/passenger/features/passenger-edit/project.json
  libs/passenger/features/passenger-edit/src/index.ts
  libs/passenger/features/passenger-edit/src/lib/passenger-edit/passenger-edit-feature.module.ts
  libs/passenger/features/passenger-edit/src/lib/passenger-edit/passenger-edit.component.css
  libs/passenger/features/passenger-edit/src/lib/passenger-edit/passenger-edit.component.html
  libs/passenger/features/passenger-edit/src/lib/passenger-edit/passenger-edit.component.ts
  libs/passenger/features/passenger-edit/src/test-setup.ts
  libs/passenger/features/passenger-edit/tsconfig.json
  libs/passenger/features/passenger-edit/tsconfig.lib.json
  libs/passenger/features/passenger-edit/tsconfig.lib.prod.json
  libs/passenger/features/passenger-edit/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint, prettier --write

chore: added passenger search feature
  libs/passenger/features/passenger-search/.eslintrc.json
  libs/passenger/features/passenger-search/README.md
  libs/passenger/features/passenger-search/jest.config.ts
  libs/passenger/features/passenger-search/ng-package.json
  libs/passenger/features/passenger-search/package.json
  libs/passenger/features/passenger-search/project.json
  libs/passenger/features/passenger-search/src/index.ts
  libs/passenger/features/passenger-search/src/lib/passenger-search/passenger-search-feature.module.ts
  libs/passenger/features/passenger-search/src/lib/passenger-search/passenger-search.component.css
  libs/passenger/features/passenger-search/src/lib/passenger-search/passenger-search.component.html
  libs/passenger/features/passenger-search/src/lib/passenger-search/passenger-search.component.ts
  libs/passenger/features/passenger-search/src/test-setup.ts
  libs/passenger/features/passenger-search/tsconfig.json
  libs/passenger/features/passenger-search/tsconfig.lib.json
  libs/passenger/features/passenger-search/tsconfig.lib.prod.json
  libs/passenger/features/passenger-search/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint, prettier --write

chore: added passenger home page
  apps/flight-app/src/app/app-routing.module.ts
  libs/passenger/pages/page-passenger-home/_index/.eslintrc.json
  libs/passenger/pages/page-passenger-home/_index/index.ts
  libs/passenger/pages/page-passenger-home/_index/jest.config.ts
  libs/passenger/pages/page-passenger-home/_index/ng-package.json
  libs/passenger/pages/page-passenger-home/_index/package.json
  libs/passenger/pages/page-passenger-home/_index/passenger-home-routing.module.ts
  libs/passenger/pages/page-passenger-home/_index/passenger-home.module.ts
  libs/passenger/pages/page-passenger-home/_index/passenger-home.page.component.css
  libs/passenger/pages/page-passenger-home/_index/passenger-home.page.component.html
  libs/passenger/pages/page-passenger-home/_index/passenger-home.page.component.spec.ts
  libs/passenger/pages/page-passenger-home/_index/passenger-home.page.component.ts
  libs/passenger/pages/page-passenger-home/_index/project.json
  libs/passenger/pages/page-passenger-home/_index/test-setup.ts
  libs/passenger/pages/page-passenger-home/_index/tsconfig.json
  libs/passenger/pages/page-passenger-home/_index/tsconfig.lib.json
  libs/passenger/pages/page-passenger-home/_index/tsconfig.lib.prod.json
  libs/passenger/pages/page-passenger-home/_index/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint, prettier --write

chore: added passenger edit page
  libs/passenger/pages/page-passenger-home/_index/passenger-home-routing.module.ts
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/.eslintrc.json
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/index.ts
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/jest.config.ts
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/ng-package.json
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/package.json
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/passenger-edit-routing.module.ts
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/passenger-edit.module.ts
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/passenger-edit.page.component.css
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/passenger-edit.page.component.html
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/passenger-edit.page.component.spec.ts
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/passenger-edit.page.component.ts
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/project.json
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/test-setup.ts
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/tsconfig.json
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/tsconfig.lib.json
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/tsconfig.lib.prod.json
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint, prettier --write

chore: added missing top five passengers feature and fixed type issue with features
  .eslintrc.json
  libs/flight/features/flight-edit/project.json
  libs/flight/features/flight-search/project.json
  libs/home/features/top-five-flights/project.json
  libs/home/features/top-five-passengers/.eslintrc.json
  libs/home/features/top-five-passengers/README.md
  libs/home/features/top-five-passengers/jest.config.ts
  libs/home/features/top-five-passengers/ng-package.json
  libs/home/features/top-five-passengers/package.json
  libs/home/features/top-five-passengers/project.json
  libs/home/features/top-five-passengers/src/index.ts
  libs/home/features/top-five-passengers/src/lib/top-five-passengers/top-five-passengers.component.css
  libs/home/features/top-five-passengers/src/lib/top-five-passengers/top-five-passengers.component.html
  libs/home/features/top-five-passengers/src/lib/top-five-passengers/top-five-passengers.component.ts
  libs/home/features/top-five-passengers/src/lib/top-five-passengers/top-five-passengers.module.ts
  libs/home/features/top-five-passengers/src/test-setup.ts
  libs/home/features/top-five-passengers/tsconfig.json
  libs/home/features/top-five-passengers/tsconfig.lib.json
  libs/home/features/top-five-passengers/tsconfig.lib.prod.json
  libs/home/features/top-five-passengers/tsconfig.spec.json
  libs/home/pages/page-home/_index/home.module.ts
  libs/home/pages/page-home/_index/home.page.component.html
  libs/passenger/api/.eslintrc.json
  libs/passenger/api/README.md
  libs/passenger/api/jest.config.ts
  libs/passenger/api/ng-package.json
  libs/passenger/api/package.json
  libs/passenger/api/project.json
  libs/passenger/api/src/index.ts
  libs/passenger/api/src/test-setup.ts
  libs/passenger/api/tsconfig.json
  libs/passenger/api/tsconfig.lib.json
  libs/passenger/api/tsconfig.lib.prod.json
  libs/passenger/api/tsconfig.spec.json
  libs/passenger/features/passenger-edit/project.json
  libs/passenger/features/passenger-search/project.json
  libs/passenger/pages/page-passenger-home/_index/project.json
  libs/passenger/pages/page-passenger-home/page-passenger-edit/_index/project.json
  tsconfig.base.json
  workspace.json
Due: eslint, prettier --write

chore: fixed page typo to feature
  tools/schematics/src/feature/index.js
  tools/schematics/src/feature/index.js.map
  tools/schematics/src/feature/index.ts
  tools/schematics/src/ui/index.js.map
  tools/schematics/src/util/index.js.map
Due: eslint, prettier --write
